[build]
builder = "NIXPACKS"
buildCommand = "npm ci && npm run build && cp -r public .next/standalone/ && cp -r .next/static .next/standalone/.next/"

[deploy]
startCommand = "node .next/standalone/server.js"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
